---
import Button from "./button.astro";
const link = "https://forms.gle/e9PbqPwQA1bJNxW2A";
const linkSicko = "https://forms.gle/Fn3qrAh1Wk1FwKiV7";
const name = "redirect to Tip Line";

// adjust these variable to change your content
const text = "Tip Line";
const largeText = "See something, say something.";
const smallText =
  "If you've encountered any anomalous phenomena, please reach out to our Tip Line.";
---

<section
  class="mt-60 flex h-[500px] gap-4 bg-[url('/see-something.jpg')] bg-cover text-center text-white"
>
  <div
    class="flex h-full w-full flex-col items-center justify-center bg-black/30"
  >
    <h1
      class="mx-20 pb-10 text-4xl drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,4)] md:text-6xl"
    >
      {largeText}
    </h1>
    <h2
      class="mx-10 mb-20 pb-10 text-xl drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,4)] md:text-2xl"
    >
      {smallText}
    </h2>
    <div class="block sicko:hidden">
      <Button link={link} text={text} name={name}/>
    </div>
    <div class="hidden sicko:block">
      <Button link={linkSicko} text={text} name={name}/>
    </div>
  </div>
</section>
