---
import Image from "astro/components/Image.astro";
import Button from "./button.astro";
const link = "/Services";

// this is an SEO related variable, only updated the last word if making changes
const name = "redirect to services";

// adjust these variable to change your content
const text = "About Our Services";
const serviceName0 = "Research";
const serviceDescritption0 =
  "We deploy a multidisciplinary team and state of the arg tools to every situation, our goal is to learn everything about a phenomenon in order to determine whether it is capable of harm to American citizens.";
const serviceName1 = "Containment";
const serviceDescritption1 =
  "Once we know what we’re dealing with and how it threatens the American people we use our cutting edge tools and decades of experience with the unnatural to swiftly contain and remove the problem. In 74.485% of cases this is enough.";
const serviceName2 = "Neutralization";
const serviceDescritption2 =
  "In extreme cases an anomaly is too dangerous to be allowed to persist, in these we deploy our elite OMEGA Squad to neutralize the threat permanently. These highly trained specialists will use a vast library of tools and techniques to address whatever challenges are thrown at them.";
---

<section class="flex flex-col items-center gap-4 p-4 lg:flex-row mt-60 mb-20">
  <div
    class="order-2 flex w-full flex-col items-center justify-center space-y-4 lg:w-1/2"
  >
    <p class="mx-10 text-center text-xl lg:text-left">
      {serviceDescritption0}
    </p>
  </div>
  <div class="order-1 flex w-full justify-center lg:order-3 lg:w-1/2">
    <div class="group relative w-fit max-w-md">
      <!-- update the src to reflect the name if the image you imported in the public folder -->
      <Image
        src="/research.jpg"
        alt="field research being conducted"
        class="mx-auto h-auto w-full max-w-xs rounded-xl shadow-lg sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl"
        width={500}
        height={500}
        loading="eager"
      />
      <div
        class="absolute inset-0 flex items-center justify-center rounded-lg bg-black opacity-0 transition-opacity duration-300 group-hover:opacity-50"
      >
        <span class="text-4xl text-white">{serviceName0}</span>
      </div>
    </div>
  </div>
</section>

<section class="mb-20 flex flex-col items-center gap-4 p-4 lg:flex-row">
  <div class="order-1 flex w-full justify-center lg:w-1/2">
    <div class="group relative w-fit max-w-md">
      <Image
        src="/safe-storage.jpeg"
        alt="safe storage and containment practices"
        class="mx-auto h-auto w-full max-w-xs rounded-xl shadow-lg sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl"
        width={500}
        height={500}
        loading="eager"
      />
      <div
        class="absolute inset-0 flex items-center justify-center rounded-lg bg-black opacity-0 transition-opacity duration-300 group-hover:opacity-50"
      >
        <span class="text-4xl text-white">{serviceName1}</span>
      </div>
    </div>
  </div>
  <div
    class="order-2 flex w-full flex-col items-center justify-center space-y-4 lg:w-1/2"
  >
    <p class="mx-10 text-center text-xl lg:text-left">
      {serviceDescritption1}
    </p>
  </div>
</section>

<section class="flex flex-col items-center gap-4 p-4 lg:flex-row">
  <div
    class="order-2 flex w-full flex-col items-center justify-center space-y-4 lg:w-1/2"
  >
    <p class="mx-10 text-center text-xl lg:text-left">
      {serviceDescritption2}
    </p>
  </div>
  <div class="order-1 flex w-full justify-center lg:order-3 lg:w-1/2">
    <div class="group relative w-fit max-w-md">
      <!-- update the src to reflect the name if the image you imported in the public folder -->
      <Image
        src="/hazard.jpeg"
        alt="neutralization can be a very intense process"
        class="mx-auto h-auto w-full max-w-xs rounded-xl shadow-lg sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl sicko:hidden"
        width={500}
        height={500}
        loading="eager"
      />
      <Image
        src="/hazard-sicko.png"
        alt="neutralization can be a very intense process"
        class="mx-auto h-auto w-full max-w-xs rounded-xl shadow-lg sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl hidden dark:hidden sicko:block"
        width={500}
        height={500}
        loading="eager"
      />
      <div
        class="absolute inset-0 flex items-center justify-center rounded-lg bg-black opacity-0 transition-opacity duration-300 group-hover:opacity-50"
      >
        <span class="text-4xl text-white">{serviceName2}</span>
      </div>
    </div>
  </div>
</section>
